body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#game {
  display: flex;
}

#map {
  height: 800px;
  width: 100%;
}

#photos {
  display: flex;
  overflow-x: scroll;
  overflow-y: scroll;
  margin: 0;
  width: 50%;
  flex-direction: column;
  max-height: 800px;
}

.photo-choisie {
  display: block;
  margin: 1.0em;

  /* mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent); */
  mask-image: linear-gradient(rgb(0 0 0 / 100%), rgba(0, 0, 0, 0.558));
  position: relative;
}

#photos .photo-choisie:first-child {
  mask-image: none;
}

#photos .photo-choisie img {
  border-radius: 8px;
  height: 400px;
}

#photos .photo-choisie:first-child img {
  border: 2px solid rgba(187, 34, 34, 0.436);
}

.photo-choisie img {
  max-height: 300px;
}

.photo-choisie p {
  position: absolute;
  height: 2.0em;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.233);
  line-height: 2.0em;
  font-size: 2.0em;
  margin: 0;
  bottom: 10px;
  left: 0;
  padding-left: 15px;
}