body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#map {
  height: 500px;
}

#photos {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 1.0em;
  margin-left: 250px;
}

#photos img:first-child {
  mask-image: none;
  border: 2px solid rgba(187, 34, 34, 0.436);
}

.photo-choisie {
  /* max-width: 300px; */
  width: 400px;
  height: 400px;
  display: block;
  margin: 1.0em;
  border-radius: 8px;

  /* mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent); */
  mask-image: linear-gradient(rgb(0 0 0 / 100%), rgba(0, 0, 0, 0.558));
  position: relative;
}

.photo-choisie img {
  max-height: 300px;
}

.photo-choisie p {
  position: absolute;
  bottom: 2.0em;
  width: 100%;
  height: 2.0em;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.233);
  line-height: 2.0em;
  font-size: 2.0em;
}